<style>#branding {
    display: none;
}
.help-text {
    text-align:justify;
    font-size: 16px;
}
.help-img {
    box-shadow:0 0 10px #000;
}
</style>
<div class="module-title">
    <div style="font-size: 20px;font-weight: bold;margin: 10px 0 10px 5px;">Help</div>
</div>
<div class="scrollable">
    <div class="scrollable-content">
        <div id="helpgroup" class="list-group">
            <!--<div class="list-group-item" ng-show="firsttime == true" style="background:#000;">
                <div style='text-align:center;'>
                    <img id="loginbranding" style='width:auto;height:70px;' src="{{brandingUrl}}"/>
                </div>
                <style id="helpcustomstyle">
                </style>
                <div class="alert alert-info">
                    Welcome.!!.  First time user.<br/>
                    Here is a quick guide help about this app.<br/>
                    <button class="btn btn-success" ng-click="gohome();">Press Me</button> to go to Home screen.
                </div>
            </div>
            <a class="list-group-item active">Help</a>-->
            <div class="list-group-item">
                <p class="help-text">
                    Is something not working? Reset your myBelmont app using the Reset App option located under Settings in the app's sidebar menu. You may be notified of available updates afterward. Be sure to acknowledge any updates and keep the app open while they download. If you continue to experience issues afterwards, please send us an email using the Send Feedback Form and we'll address the issue as soon as possible. Attach a screenshot if you can. Thank you!
                </p>
            </div>
        </div>
    </div>
</div>
