<style>



    #dock .dockicon,
    .screen .icon {
        float: left;
        width: 60px;
        height: 60px;
        background-repeat: no-repeat;
        margin: 12px;
        position: relative;
    }


        /* The dock icons get subtle shadows below them */

    #dock .dockicon:after {
        border-radius: 50px/10px;
        bottom: 7px;
        box-shadow: 0 5px 2px #000000;
        content: "";
        height: 1px;
        position: absolute;
        width: 58px;

    }

    #dock {
        position:fixed;
        bottom:18px;
        left:0px;
        right:0px;
        background-image:url('img/dock.png');
        background-size:100% 100%;
        width:100%;
        padding-left:10%;
        z-index:20000;
    }

    .dockicon {
        width:40px !important;
        height:40px !important;
        margin-top:-10px !important;
        z-index:20000;
    }
    .dockicon:after {
        content:attr(title) !important;
        font-size:10px !important;
        width:40px !important;
        text-align:center;
        color:white;
    }
    .navbar  {
        margin-bottom:0px !important;
    }
    #branding {
        position:fixed;
        bottom:73px;
        width:80%;
        left:30px;
        right:30px;
        background-size:100% 100%;

    }
</style>


<style>
  .promptumenu_window {
  	background:#fff !important;
    border-radius:20px !important;
    box-shadow:0 0 20px #fff !important;
    margin-bottom:20px !important;
  }
	.promptumenu_nav {
      	margin-bottom:-15px !important;
	}

/* Wrapper */
.animate-wrap {
    position: relative;
    /*width: 220px; height: 220px;*/
    background-color: #aaa;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    perspective: 1000;
}

/* Inputs */
.animate-wrap input {
    display: none;
}
.animate-wrap [type="radio"]:checked + .animate {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

/* Image-Wrapper */
.animate {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

/* Labels */
label {
    position: absolute; top: 0; left: 0; z-index: 2;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.front {
    z-index: 1;
}

</style>

<!--<ul id="homedata">

</ul>-->
<div style="box-shadow:0 2px 2px #000;background:transparent;text-align:left;padding:10px;">
            <img ng-src="GENPACT/branding.png" style="width:auto;height:100px;"></img>
            <!--<img style="width:50px;float:right;" src="data:image;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAYAAADDPmHLAABBd0lEQVR4XtSWXYiUVRjH/88573zl sq3YuK61uZWi7JYKFtRFrC0IFtKHuIlhZRcKbdSFhYXkBxFFBl0ICnlVEiRI4E0XQhARRR9oN+16 sX5A4kcptrruzsw773meZg/v7mE9+/Y68t7sf3g578zzPGeG+f3nf4ZEBLNR1BCShb178b/17u6Z 60NDkJR9E+syC79MzwCZQ8pM6VAHB/upP6E21HNlarYXwA/wNGOte7DsQT0arz09RyXFKJlIGpoN BrDA4z15tqTGbPo1U0MZm8LCyhx66/qP573a9/iynkUdc4NisCiKTMe/FdNKhCbcxlB2Vd7rIkJK EQABT3XY5yBmmmlM+fvDl9/J/hhEKbm1R8XhxCwgIpnpczMUbleKiNtbgquh4MLI9fGLJ09dvHJk 98ApkXPVLM0QZAReHn7t4IKX1jyxurP97g3H9mztEeYlc1tbdKmg0XwYSnwR3LB4PU5iO5P7kFBP E3nTXs3VU+5d3fWkiAAR4Pp4iFVLOkY3r/15+PPjZ348fe7SMeC+X0XOV4hIxSxkQhklQDr42Hnc +/aRzheeXLFl8cK2LeW2lgfnFHNgw2ATgYUh0gR0pxTo4iNK623GAOlQfdtJbFZSaXM+5fSUhVYK SmsQaVy9ftNcGhn7afivf/bvebn/24lUoIkCwNJQtgbw4SsRMUSU3/vVyc3LH2jf1bVgbheBEdXr YI94FvDFXuR6QTF0uU3gJBIDIq+eBEKZKlgVIaRSzUHCIDEwqgBAbkmP9FRoQtYMuXweo2M1nL08 cvy7E3/u/nLHut9iE4hLgywM4MBPXtz3ymcL+zeu+7T7/vKmlmIOYRjiziSp0W7lwfeB+3MuGYjr ENLQHMLokqsn5i7bJVe/gTDX5gB5qwOsTAWiCxBoL5+S5+Dt04wUEXKFAi5fuzny++nzH+zZtOoA gAgAeWmQaoB0+AqA2fj+4WXP9vUeXtxZftSEVRi2cDL61XMifEoBHa9eH5EgiEZhVBE5cwO13D1x jyBJgRmDoSLy0TXU8vNtvDtMDIaeBoxgoLgOo+7y4AoRLAbfRJmkASAIcjlUQsYfZy4c3P7h/p04 cegmrNJNEDQBXzbt+qJ7/ZrVX3e2z3ukWhl3LJoWp0a+heTHfEIquHux0N1+LEBgaiABYOqADsHw jwEtdRjK23uKxkCKAROCmaclA0kdQiUAPJkvNlkiCqb32ktAYiCUg9gHpR89VgrNyNTqCJTCY0u7 BvbtfKu84yNsbZhgDDYkyDOBnwDp8NG3bd+iLS9u+Oahe+evqNUquHMlRz55Z70f80oMFCwskHBM W+wCN2cXIrGACvVrUBJBcQ3VQhlCwS1mYwQN6PWg1c6Wan9DSFtGlUL7FGjFIQiwaeLGBZqriNQc F/dxf2Aq9r2MKsCJnF1TjwQ0fSRA5/HL4NkD721c+U7sssglQTMJ4ODrtpXPl557eu3+ro7yikpl HCJZwWcXeiQgSYp2gQLbRgNAm3FAExRXYVQJAjgTiLgEiTfkeEYAqAnQusVCB8iaAqRAUaOuSrAy IZTUETX6hM0UEB2NItStEBNNgrTwDWkwy2T+gMRYwwlHCHURMGZaKtiVYltL0p9FadoExiZZiOWL O19/99D3w59se+oAAA0ASUkQpES/BmDeeHP7wNKuzmeq1QpYJAv4fsTLNOBeIvzH3bv92JZlZ16/ Mee67GvsuJ1zMrMyK6sqXa4q3xoBbTfQWKhBCIS4iRf6FZDgCVmieUFqiSckJCSeW4K/odVC8IpA NBKtlqFlt+1y2eXMyjwnzyVu+75ucwzkoaWlrYgTPidOVtuVOY+G1lozVihOrO8bY3xjzLl2mLUe pts4IVkgtmtSLAndhi5OAAVTMidFSS+FAegIlO6NgZAiSIEJQEC0AgkE3WPW4cMaQqqdEGodGA4o 2mDBMAZSINrQxClYhxEI1oAmou6oslPM9FaCAhCw13UmDPuqJOgSZZaF3/jlT/7b//Dv/M//6O// D//pPwYCYCLCbRJkbwBf/t3f+Xu/8Svf+87vRFPapD+vsH+rjLsffMT6s+ggBdvShJJpc00rhYdZ iA4uYsS0cbKkMBoI5ESgQzQhCFEiKrmnEbT1tCJag3Zg5qBCckM7PJx3S5LkThLRzkkWtUHNQJ0U GEpMe68ImjgnmSA4AfxnKBk9ne9EhIH+2FeOBHXT8t7J4vi3/8Zf/7t//+R7f5vrnzaAAXobjOy+ 0P8BH2TPeCa/9S/+879zfrJ4VFX7r1Lm3d+4EQC7FbqH+xyc/qFhUjLqrqnyBW3IKdpLjwhZuqHJ FphCZ0LeXdPlj4YUoyjJzL1YbI9oTpCWlAXEKs/t0IA1gLjXg2LWuQlGTGua/DGiezAwjX7eyhS/ j+DhN+uu6WRELSPQBA5+gxI8VWCDl78WZEPuiQSBh4yqrvnovUf/5n/+X/93//rf+2/+4/8ViH0U kMMokN3n/c94xr/xn/33v/7he4/+vbZpSO/a4LHXgC8GuJF3O1IoUMkQDBkEnAIg2iIkv8eARkaU zSV1NmPeXJFEiLonSOb3dCGnbHaEsEVDgWD4PwGxjuCibYOGHGwE1vak8BCPOJSHBEgUaQUkEkLR rWnjlKCVe7pmE3CSGmV7AdpReenoxMVJp7VrB7/PwgCw3W0S4di8jgSiD4oEKSUmk1H80Q9+5b9g 8e3//cmobl68eKG3vTJ7rfd/8EF89uxZ+Bu/+Zv/welisWia6quXeofa1w4yomWMm0vP402cHpAg OfCdRIq0I1oHIjShIFMl7za0UpJ3Nx7Oy+6KfXaOCqgE/Lo4H4imACQwJZp6FBCdEqg9X4MQqHpQ OsDAIW/IuyvaOEesJViNMqVMN55C6IHOdOv9hk3+Ph3i8xjkaU0dj1A1fKDYYci3Q6ANuafjgT28 OmjqhtOT43/13/9P/s6/8A/+x//y//4O34mf8qkeRoHsdWVfVVXZ+Uc/mD1+9OjfSinRqfLAMXj7 /U0aB9o9X+OCefMlMW7YZidAIGCM0po2ejhl3F1jIYJm7MOMWfvcvVi0JkgHKJnc0GYzWskZd5cE nfQln6G9Rw9RRRJYjQs7up4nDWIuOHtwOg/9YjWdnLi+SADWuibostNBJBbtBbWMqSmx1GIuPNce sToTzBIgKHJYKh54PURt6UJ58LW7euBBbTdVZtPp6Iff/7V/+x/AP9o/2SdekAYAXhcBPvzww/DF F1/Yv/Mf/Ve/Ph2Pf9B1rbP3QeMgXYgAd4EfghwoJpFl9oRF+5SjbsM2f+Qiq5GSSXvJPjvx81Fa EkWo5YgqzJikCwwj2M6JVHbXpBBJDnqi6K6ps+NePxhCNzhQILn3C80wH7TGJCDSYQZCS5EaDCWJ UKYVTZiRp6V/rSMDS4y6pX/vNj/zawdfVw5s40Iz9XQPYIIOAAM+ZxS6p5ExSe31IvGwRBZ5eyhU eXR+9jen0+mkbdsdEIAhCgwEOPR+IH7ygx98dzyZjbq2xd5Z8Rtit8FnUPZ+3at0JbLM3mPePWde f84uP6OOcxpyps0zNsUTOiKjtEJRV9md5JS6w1AXiwQ89DfZESriQLWxdIIhCtIiAChikOmKyN6J ABDZYRacFEggWOXCrg0TgjV+bUydWG0Yo4KToUwX7OI5iQjWkFvyvsMmOwc6zAJKGFYNDTefFzqP dHWY0hFBDYM7JDACw7C3rwy6LnE0nXz8z/2tv/2dP/hf/qc/7NN7oh/Z7cWeo5TCBRSpOPpRCIGm s3fyfACRu+ALNqh+ETj0h7aPBPP2ObPmS7Jsyy47ptClk2CXn5PrilF3SQqBKs7IdE1GO5At14ZO M7qQMU4rynTpoi3q3vO0kBBLiJOgJljrIPuwhEok0x1KRMTnacLEyWKiZLYh2p59OPbjOL2kpaQO Y6JtCNqRp4ptPHViWy8Q3cwQU0BIUhK0pUxLqp7oWEIQ6B3isG8A6uSBh0UC7RJJwuMnH//o438I P87aNhwyK7sd/muzjOvr7Ms2fpTUUP0KJZ/d7t0P3brB84MY5vP+cEjAKnsEXXJvjrZ3oKfpJePu pZ/n3YZx94pd/siFY5Z2gLoFSw5KF0cE9ky6Da1Oyaxh1F6R0RF7QzIC3VCaJVl6WDfVPpXkDlQT xhTW0MmE0heKMgz1/49YQ52dE62i7FYY4mmik6yvIuJQgEdrnSB1mHkVMelu2IUTWitQMwJKrjtq mR64xf3dFOwtCIBSlhM5OzmdAiGlFIAApDsaoHV2EIGssjBLaiS1d1L9chd4DBvAdxNDe5KIe1cL AirCOp4BHSNde+hViRS6AlH2cc4svaLsIk02o7CCwtYIiUBLnhoKi5TdmrFuyeMrigjjUUeWF4Rs ioQCkTi0i00Ba7HUkLqGtqs8+lWakzUJI3mONgns4iOPLLluXY8YyqS7dAI3TDwaoB0QMAPDKHTn 4O/i8QH4x9QUYOrl4iTdsA8LWgKCHVYJry8NebvSMCsC86P5MZDNZjM9ujqST/lURESyAS+QlFKY ySwAWWadJFWS6oNzv9zp5jFogWgdKgFQJ0BhFYJ5/a4YpW7owohOhG04cm+PVoEYJupCr8kmrvTL dIUFvDQsu5rcdhRauS6YxJZJIYzKEdn4HJk8gdETKI4hm0NWAhFC1oNlkGro9mTtirK5guolun9J W91QVTXbFnZMsZ60HSO6ED3iRK1JjKj6tjAWMCLiEWmNaMcqvkdMewd/E8+oGGGWyLVm3l2wDmdU VoIpihxmVQw7JMGDuoRBFQ3FKZCllLrugy7wDLkdAURVJU1TAKKaSTJI9nDw5bVr9D5Ppg0le1fx SqCxgoItpbdPx+4R0+7KQ3sXMvem0joiCUgY6mo8xQwhMUkv6GJJbhVHumSetczGJcXRd5H5d2H6 HRg9hmwGIQcJQ069dy3eFCxBqgjNNeX+S8rtZ8xXP6XaXLKqn7NJBbu4YKwXiCpKThUnJAGsBTL3 +jJtwIyb+AFRK//d1vEcLxdNGemWaXfJJpyxCxMnjNFHDjmUVgKDPORBJAgGigX6FGC9mLhDgGMz qVVDCQE1ebsUMHj37S7f3cVPMSoKsI5599Lr+TaMqRmBeRh1wbWXKbN0Sc2UvUzIbYNJJLcGgoIk cq2I0jLSDVkyFrHifFGQL34ZOf41mH0CxZEDjiawDroaVIeGEBjYYb0qfj8S3QgZjN+HyQdw/GuE 0xdM1j9hvPwD5tdfcF1dsUl76jBiG85IEl1UmgmjdOP/x2SRVXjsInSSlmziOZWMwEP+hmm6ZhNO 2MgcU0VNMBQQTAU/Hno9ATDM3l4KBDWs65wAUzNZqQocRoD+Qm0hZo0YCKa8DQHkfuE3iFQXXdaR JPpkJWMMZdG9dIG1j0fUUqBMmaVrUsjZhynzdOGCKUlw8daFgpK1p5GcvaeLuVScjoXp6UfI2V+H 2fehmIG20K4hebPHrwcimAGHBiCDEQJIBiFCKCCWEEonApP3kaMfMp39E0bXv8f65pLLpqaWGYVt MA1kWjkJlOAiL1rtFckqPGIvY8RaJ8M4bdiEY1bheFg17L+vTzPhIHYCBmB3i217MwGSqYz89JAu SHb7ZYkRSAGiJqIGam+t/O+E/tAfjQAGhW3dk1sp2DNCwyNO9LkLuG08cYDX4ZgjuyRqSxUmTPQK C4GMHW0YoQTGtmVkO06zitOTM/LzvwbHv+H53QHfv8DajedzB986B38A/E1BTbgVDXKIIySfQjaF 8hTe+9eIR7/E8fx3KV79EWF7ybLb0hFpmNFJ4REsUnnlsAnn1DJ2Mky7aydJJVPWcoR7PoIaGAIM keDwKfoc92qBwH3jEEOziZht7qaA7/Ad0SOV0AFOACMljwAPUv5uAALpQPG3EkmMGaUtY9l5H78O BVfhEaf6nJPuGdu4oApT1mHBTK8ZpyUaAoXtEOkY6zWIUNLwZNRycvYR8vhvergHxYFvbqBd9uB3 wz6Bdx9OBDcLJWQTpDiG8gwm34bihElxykevfpfRzRUX3QwLkZbCqVBq5WF/L2PytHWlH7WjYcSO GVEbxDpqJoB42lCil59moCgcJlLj0M3eqiII6liKQbCJCdu32BFkwJurABvOAva6nTkDf4MoirFl QkHFRNeUBnWYcCWPOLUXzNKFR4kdc3ZhipkysytEWgINpe2Y6obH08Dp41+CR/+K52i6NexfYfuX 0K0g1UOO//kOgZBh1QWUV8j4MZTncPZbZPmcx9n/Q3j1nJed0YZI1B3r8IjKxozSyk0M93wH32oa nCZeUpa69/OdnGCmCIZahjFUAXdWDPUtxKCoYujDNoUmg04h6ZvBP9Snh0JQMExAUDAb5hPi6j+n dtC7UHATTlmoMrYVedqxl7n3/7ey4MheUrBjYjvemxjH7/8Izv8lKBawe4Ztn0L9ynM+2vHPfMgN 1JdY9QqZfACzD2Hxq8RsxqPwf8Cr59BccyWPacmZ2JVXBGaBlhI1nNA7WYAqi/SCSGLJMZVM+t5H 5wI4EcEOdADGYRq3t6C5KKA8jAAGqJrbGwkgBgdKX3Q4J7cWE0ERBCOgdH6ekfkqW/SHM7INTSgJ tIxsyzxV1HHqwtHX+C3xeGwcv/fLcP5bnovZfo6t/gSqF9Dt+Mt8J1VYe6qx9gbpduAl57cJj/9l Htn/RfPqhnXXcqQvMINEBhiGUkvp3b9puvLWdWOFVwG51YzShj1TtjJHLWAoZjIIRESG5hI+xxt3 DzmOHF6rvDkCqJLM3N5IADskAAdr+oYgFFI7w1UCKhnmmiCwlQkT1BW9oZS2AsFVf0HNzC4xFUZS cVoqp4+/7eATp7D9DFv+MbZ76uCDDtD8JYwh4dGLTUkVLL4Ps+8StOFJ9w9pX37JlU7YcYQi3tPY 29TbvRO9BhXXCmIdE7tx4K/kFEyI1tBZifZQq3GoATB7+yViMUN5aAQweNtG0FDncwD+IP7Ef5Fc OkqrmdiWjI4UMu/gbWVMJ4EjrhBLRPF2LpAINEzYcBYanpy/h5z/JuTHsP4pdvNPsd0X0G0B469y WLeFboNoBSe/4aK0eLzn/eb/pLmuaG3koR1LTPUaMyERMKKD38qIJQuw4I2hygXiZCgH9RD4AR/B AN4yBehDUwAw9AHeSvxJD7xBGPK/EcxAjM7ElW0tGSMXgRsWtsJCoJXSlb9KYG43CAmRzkPiVBqe HGXkZ7/qHT12X2LXv4dufoq1azDjF2J0OyQ1BMmQk1/zfsT4/Dnn1T9lv6tobU2wko6iL4sDe8Zs ZIGauChurWDNkUcFNcPBNxjk7HB+4Pkmb9QBooYaDxWBdi8BBLsdCgcCDNpUDDEbtABOBkXFqEJO w4KSmmO75sSuUYKLwW2YMpVEyYYRe85GicnZL3vJRX2N3fw+uvoJ1lyCJX5hRhJMK0wyCCPk+Iew +DVOdi/ZVC9oOqEjYuQO/E7mJCJjXaIaWbHwee13D6lF1BQjOBmG9jCHBtjtNODndwnwoCqgGF4n cXurhR8zEAhoPw8RQwciuCEoaMLEewNcc+xCcGFXLgQxCKJEWuax4+TkHFn8CLTzsK/Xv4/tn4K1 /MKNtEMtESRCNkZmHxNPf5WzzZLlVcOaQMUYQ5jZNaqBtS28GdRpBqY9AZTMOjCoKPpS8FYqGASg vTENOIEURgzjIX2A+wkgbgbCIPqcqwKYknrvj2KYe796/i+oiCTEAISdjEhyxjEXXuqVtmfCnpNx pDj+HuQnmOf938d2P4O0wTB+EYfUDUogFkd9s+hjZsefcrT+MzbNBsNoLGfDgjXH/aIQw66mie7B zHVAZSOSCTpUAgE1DtYGxOffVA6KGjwkAhQACsmN+/O/DNIUwYY5M4ZqIGDDnrzcEqDO6lxaxrZn LHsy7ZCIP4xMGia0TKXm6OgxTD50gcXyD9D1n2LtJaD8og5DoPoSXf6YMPkQOf4BcvQdzsY/ZVlv vBG2kmN25msciCUKa5hoi1pgy5Q9E1rLUAcfkjGUfmagB97vh/7afp4iMGEkc7s//9th4weE4TiA bxjaX6vg5c2UHckiFYV7wyhUTG3LSHYUVnnZeFRCfvQhhAJb/hhd/j7WfAlW33rF2vjLHPf/3B4l FFhiuwpujmC0gPIJs8UjJusLJBmF7Yk44JhB04u/nVM/IxnDU1PrQfc5hvUAv8bPD8ggr08H714G 3iVAwF6bCgI91AbB876C4LPRXAvQibGTEsSY2oYZSzChtdzLwZaIiHLCiqNZiYwfQbPE1r+P7f8A 9BUQgOiGCBDuruYNI3y119fvfUtZ+1M9sHRAAPMKRTd/SNh8Dzn+a4TZByxGr5hsNiSgsZKtzVjb ETvG/gwcbO3DvesvRQ2UPvQbB+ngUAvcJaMiX40ASZXubhWA3iKACIhZP28EATX1+WBGFKWQtt+1 KxjGXnOasGBHyYnduAAMpm5j2zPNWkbTBYQS236G7n6K6hIkAQlo3/JzeIR3G/bma+HukEMSJrR5 hmx+4h1CKc+ZTXPG2z1LnbG0YzY29VCf1IUfKERTP2+1wKPwQIRwKAKdLDDM/cW/gdrDU4BytxEk btzd6XurCAlwuOePlsCYmolW5KFzUmCACFsbezqY24o5G+asOCn2ZOPvYGmPbf8Eqz9HqDB5E1jG X+m4HR31Gt39hLj7JZh+l3KyIItrqjSiJQDab1BtMYNEpLISMyGnITNIFnxOTRjSAPg9YHcJgNyJ YRjvEAHsTiNoAPtwBDkggtf6B6WfGAi0BhpGNERmVrnSH7OntJZMWiJG6ENoTmJSBsgnUL9E959i 6RrE+LoNswbaL9HdZ4TRB2TljHl2waRa405hGbiHe0vYo8HYtnQavQLY2ojaxnQGiqGHWuDWXkEd vMPuVgVqbg/TAH346ew+AhgyMG1Q/CgOPnEghgEgpiSDXcjpdEobIxPbMzElWk3m9OjI6RiNMgxB qy+x5hlQgfA1HIrpEqt+Bu0PISuZ5w1H3JBMqBi76DNyzNTNu4FM2NqEnZUeAdQgDX0ZGVJA73qD ILd7PmkxPFQDFMCmNdt3SmGQ7EDd3xaAAnLY+sWQWxEAMYIaJhCsI6dCtKOLgb2VYEbmPtGRi2/d hm4L1edYugTpQPiajj3WPsPqZ5DPKQvI6DCgpnAdsLMJlXoEoLHMI0BnETNzUzdFh57AoR7oze4m oyDiDvzTdc122+rR2xJgVsCfbbv0v32+5JdnkY+nBaPY56B7mkEOfD871P5+VAQlic/TmdBIRk5L YbX3AQpaxPoUIB1BFO1u0PY5xh5E+PoOhXSD1s8JISPmeLhf2ZxrXVBbSWMRp78Jaej3O/CkwQQ1 0MH7ezywQwIgCLFPu0+3DX+43HPZCB/uk41KaB+yGLSqEv94u+fHZeSTxYhvTzKmMQxCBAOR3vvx cz8TUUrxd+QYSUMZWjJN5CE58Jkloof+FkwHpgdLZKEB20LTQrpAaLHA13hY//s8h2xGkBYxeu9W zIkv4OeCe7eqA+4azMCJMESAcKgDsANXjECtyrOq449XNZe7FswgLwnhHVYDETfWTeL/e7XlD3Lh 41nBd6cFR1nsS76DtSnzNICZsJGcTCJ7Mge/DB2lthQho7TWrQceMCIBMxCrIa3QpGi6AVG+7sOo 0e5LaEaIbpkKLJgSpKOhcGster5vLae1rD+P1FZ4WthbwdYKktkh+IPq3yTl813Ln21q1lWi90i3 B35O4P19laZTfnK956ermifjnA+nOe+PIqUIJjBAdSs5KJBUqGMk14IMJSNRSEehLaW0TKUiBqVJ P8PapxgJ2IEYX+8hvRi8xBqwzsCmCIoM4VsxIh2BlkhNRmU5FYUfW/NikYSgMIDbKdy0HZ9uOz7f NjStAgLCIfAg70CA+0khzsJn25pnu5pZHvnoz4kwjpzkgVwMzA4UAESMzDeEdOSSKOjcoiW/HlFT UpNZg1Ch+grDQFoQvgHDwDZo16CaU+sPWdqCKz1mryW15dSauee3ltN4NIDkwAupD/sBSMA6KU/3 LZ/uWpZVQtWAAEHub4k8nADhLw4hAR+bNvGHNx1/vBYWReQ7k8gHo8hRJoRe+JlBkoAa5NIylx0j qV385dL5XEnDVLZkNEB9wFzhmzEU2AOJnIo5awe2oKDu00Dl4BfUllGRU1sgQzCDOhmf1y1Pdx3P qkTTGSBuA/BGP3c7Asi7EEABe3OnbYgKylX959bwexEel5FvjQLfKgPHOWQCDTlLFfaUFNa6OJxI TUnlpJjZjk4zDEHE+KYNEbAkXuKpiat+L/00o7Ho1lrAe4Mq7FNysH9WJT6vjF1noD2gEu6Bxbg7 jPDVNcCb2uwy3N+a8bRKPK0b8gjv58InI+HJSDguIIgQveyJbiUyNCvaVKIEQugA4Rs1BJLmdJqT RHoAEiNphxXYXQeXlfLpPvLHDXzZDe8IOugEBlCwt1zyEODdq4B7UBe7uzQqt8kjtAbPWvWQ9XKf OM8SH487PhzVLPKKWWgpSERJmATqNMIsIMEw45s1RGm7MUlykkX3/GVXclkXXFSBy1pYNsoqCWvF 74kCnQiYHD5uEN7wMfZ8RREY7tEAd2hnwz3IIVGUXOBMOt4PLY9jw3lsGIWO0MLLDl6GnDzLmZeJ J6OKUEYWYUTbTcjK6hsXASQY23rKuslZdx3X+z2btsNSoOxyJlrir8xJpBGhNGGCsDqEwG5jIkPu v99ZBcJXqwLu8/bBgkAmxkw6FtJyJIljScSgqIgLm89SiakwCso0dpxQs2DPKFVUVeJVioQ45cP9 MZOjK7/3GzUkcrU74VU1Yq0RVdhZwcs0dcEH5s/mjIZRD80+ZWQidD3wdwC3Q1/8Of7RqFwgBYEe hPvTgDD2Uq5z0BFhQ8YLy1GESYKxwDQoE893RimdEwWEax2z7MYUllhIjZhwsXnMt558CgGwbwr4 RtvmbKs5FjyvE8Q4DTuyqDy3GUsKVpqz0+CEaEzIJTAx2AjoAPZAgtup4P4IQHgYAUqBSgzk/s0R CIDRSGBPwbUBmJsITDFGog56IeZMjmIeDW40UIpSWmJEIgMXhA05F7tHNF1JnteYCN+A4WBvqxnr boYSD0FjLC0fxRVPJFKHyCqVrFLOjWROiOepIAnsALP7d8SB3Uu+gD6MAFl4YytxYF/CBpYjICJM MCYCuQiZQJC+L4D4uYgQAD9HACFZdCIt2yO2m2NOzp9/c9JAgFfL91jqEY3lmAXcCIgERMBjpgi1 KBBoydlS+NwYISHUw5rs6yLAX6QBHhgBwrv8HSPBvbzEmAqUCDm410eEgPWAu8GBGQFEPD1EMS6X 5yzOX2DyTQn/hRPgQo+56qaIGphxlWZsNccUUJ8CjOPYeGScSOKCggvLB1hboEPA7sNcvloVUAKB exhweCkGBoIQMff2sUCGUYpQ4GGfDCECAcH5K4PnD+CPpeZRWDMNNY3kXKze41v7TymnW0wDX+cR onJzccaunTIODTkjLnXm7d9MEoJwqWMqjTQaaE3oVOgMH4UYc4xkoS+thUogAQnBbgFz12vkwY0g By7cg3/s5wLSnxsFkDv4EA/B99wPsQfdIwECgEnwB/Ao7jgLGwo6Oo3sZMQlZ7x69SEfzX4M4eur BQVDU87zi2+zkal3OiehJY8rljbhspvQWEYuRkPvGCaAoBKovWMY6HpdJkAOFEDbGwgJUHyQbquB PgPo2xKgBsbA4rUEELIDzgUBGchgONBAPkQFiH6OX0vfxhQSx9LwflgykYZEYKtjRMBCTS0VL66/ xaMnTymnG7DwNa39leuL93i+/YAbm9NoTme+8ENJx1nYkekIESGFSJcGnURmYH4OYsMRE0gIHaDI rT2C0N0NAORA/aAyMMIkvL56iAhyUP/j10Y0+lAP0b3eSeEWUEQCiDngH2YrjkLlqv+lTogYR3HP XPYeCbY25mnzAbOnP+AHP/hdwL52jSERo21Knj3/HnsZU6WSV+mYpEJQpdXo3p33pXEiUITEioKt Zn4dh789KIiBu87wjHtBeIsA6Q4JYSQPIEADTIGxyGvLsIDdbUL2gAdwc9ABD//0aUGMx2HHSajY W8FNmjIOLafZDgdeEq3mrJmCwUncMbv5mPcvP2fx6AWq8WvEAUNEef70u3y+/6j/bKTEcdjyMi24 1hmYIWY9aAG8YZYTEeYhEVTYkZHZEG1JvQMqfo7ZYdoHQ9A7RBQyAjUQ3jYCFEASXqvCBXnN9nAG 8MWvD6IBQo5xJC2VFTzVkkWoeRzXTKLvEfBIcJPmNJIRzJhTk2ctjZR8/vn3Gc835OMK+5qUBSEY q1eP+fLiY1bMeNGd4PsfLPE4rIimvNIj9pqBQTJoLKII9fB6mJADXe9YYhBEDvZZCPYWf4xXBPIH dwLj/QQACMidhcBgINJHiF4TiASCGEagltw7X6dhj4n0r0QlVAM1ORLwUHjk96zJTf2ep/VHlH9W 88mP/l8I9gtPAhGl2U346We/yit7TBDc+1+mY1BjQs2x7Clj4pXNuUqTAfyEEPuQb71oxgQVEAG1 wctR5FYzyNB7lqGzwEP7AEJ+TwoACHc6guJAB3DQZaj5YSotp6FiJB0tkWd6TJLIJHSIKoiQeau4 9WpgITsi5mLpopuwj2Mmq4rJp2ve/+QniDgJEOwXLegjQdE257M//RWumkfc2BGbNGYkDcey5bmd sNYJuXXM2PNeWDOj4TlHrLRELCAIITgJBu8KJigD+BjcBfuefl/oIwj1g8pA4P4IgCB3Fp8EYXgv ABhLYi6Nz+0oudYpDrYkMoyGjBwlQ5lJy3lYM5UaDFrNuLIpMSiLuGUtc3724vtkseXxd/8M5BdM FBoEBz/jix//kGebj7mRI6IpmHCZFg74k7DkmZ6wtRFrHVPSccSOb4UVJVOumHhaCAeLPwJofwQ/ d4sM2vje8A8Q3iUCePkmoMK9I9xepWQwV7Y5sGGEhzUzhorgQCzmol4NzKWilBb6N2aWNvWocCqX qEZX0SEYnz37IQKcf+8zjF8cEkgwUpvzsz/6FT5f/hKbMGXdzdmmEWMqJjRc2YKpk2DFMz2lIrKx ESsbM7GGmVRksmMpI7bk1BYRATNIArEHW+/5TDQFuI8AQ3n/llVAFgIaxO2+IdhrU4cIGJGGgLOP A9Cd2EKQxFQafEFIkpeGahm+ImZTRqHhVFZkGMkyGgNsQojwky9/g0qnfOuTP0KyhKn8FRLB3PPr 3ZSnf/xDnq8/4kLO2KYxhXUsLeN5esSMrVc6V+mI0hreCzc8s1MSGSCsbMJKx06UUUiICYUZO8tJ CDJ8PuDQE7jl/UK4V5DKw98LECC88bkK8totgv3x1jWAASWdg9+RUbBjJjVrm/TboAtmoeKRLMlQ kkVASZrRAiuZsZYZvBC0irz//Z9QzHao/hW0C53MxvbihE//9Nd5tv82XYxOyK1OMIUFW/aMeJFO Hfip1N4BDCiPw5IvPR2UIJCI3NiEYMM7VUyko5HYR4PDD+AD3nITcHiXHUEmYCJub5Y+h1dAL/6s twBoT6hRvwVsbSPOw8ZLwM/TGYigIizinsfhBgGSBTBDAAxMM5bMOQpbVvEIXX3C7vfmvP/tP2Xx /gvIDFP5S+vwaZ1z8dlHPHv+Cdd2ylU4Zt8VjKxmajte6qkTesGGPTkrm7qnj6l9fmsl57JGRTwN GABCSxgI0BCHZ+rA211dZm+Qw/bgHUHNEKvdHvJxKSYAgmKEYU7ISb7u3RGppOA8bJ3xX9gZYGRi HIcdJ7KltZw9kVH/ehnSAcbGZogJYsZaZ3Qhp+7GrP/0mPeufsajb/+M0fESxP7ZLCCJC1wsBdbP H/Pi8+/yavcBW5lywxGqwT1/ayPmtmchW77UU/ZW+u9WWcnecvZaEFFqMifBSdjSEVnpyMHCBDXD DkHvgdZeFMi9LjjYV9sQgoS3iQDDW6jYIQEMQ4YW8Th0BFO2lKiIh8ENpT+A6OAnnxvReIewomQu O39wGTvMhJ2OvEP4WK68QujIUIR9KOkko74ecb18zKPzpxy//yXl8ZoQFTNx+4otXTdtMzYXJ1w9 +xaXq/dZM2crE3Y6Jln08q6k4VIXVDbihDUnbHhqZw78nB17FiQJNJb1dX/GXnOO2WHBd0iBMLxu qwbIYfnn2IDdq/y/egQoAHW2Bbe3GuF17w0bUaAl0kpOwJC+JBTw6yjKSBIgVBSuis9kw8bGnMsS Q2jIeWXHnMoaDK+tR1Kz1SkjajYyoQk5lYxZvzymePUJJ0cXnJ9/weT8mnxcu1jEwBA/3i9ubMjt GGgXqVcz1hdnrC/PuNw+YcOcNuTu0Y3mNFrQWE5miRudM6Hiwo49zJ+y9P/3Uz3z64k01DYhISih PwovWDCn8pXCtfaaAMEQuFP3y5AGnOBvzlco8lXfC7jfFBC5ux9NEQxDD74WnFgOPgru/Ttc6dLY mHmoubYZ74VrvycRuUgLYlDG0vgD7iQj145GAqXV1KGgI3MQ1mHqwJyvTrlcPWHysy3FtGIxf8V0 vqSY7oijGgmGiB6oU8FUMA10uxH1dsJyfU69mrPbT7lMj9xD6+CvdhNTco3i32NCY5kfc2tZ6szz /JXNqSx3Ip/Kxuv/nI6IUpFhPTAKqAnXTClpyYNSWTbw1EzQe/K88RYjyLtsC5fB3nbInQk7YJEd qFfDetLsKAlitGRkot43eCRrCtQ7gVtGbh/LS68ULmXBI65Z2owzWdGRuxdOqHoxNQMCk1g5US71 nGpZcrK84SisCJLIQ02WdWR5S5QOgJQyui4jdRmtltQ25lLP0CCMpHaB5x/hQuXpKJoiZgTUIcVg Z2NPbFGUjY4dzBUTz/mPWLq+eWlHIIYSMQOPsoD2Zd6OAowh9dqBt4vJHcdD3pIA4Z2qgOD2NsMA uS1HhB50I/gR/LyfNzFkOLroYSy164ErZt4YeWEnHg0ay3nGGUeyY2MTjwaCcW1zbyCpCZWNWcqc U1lSa0kjOVum1BR0IVJLyY4JI62IjSK1kdMiQE3uHpnR0knuOmQZ5v5zj23lx0s75syuiZacgDMq jwKZdewYEVCu7Mg7e2vGNBQYsGHs2uZcVkypuLEpdhDidTDAj8Nzw+75S+LmJm+HjYSHi0APT4Lb 2w5BELk9YwMthnM5XEbu7xP3Jl8kecoJC9vzjBMXhoV0fG7nTpBkQk3JKSuWOmXNhPfDpUeQSxYO SAzqYXgilQPVSaSwBpXIJccsZEXAAPwewKOLWmTOhs7V+ditsYJAoqCl0oIrFpzYmtoKghlqgYzo vf1LW7jXv7KFi78vOHehq72O+YJTjof9DoUTXo3+KOjgMD5QwnBuhEP8UePW+Lm/GiYQgtvbDgPg dSWKDTohAIoRem0g2ECEudS8Yk4isBWjlpz3Zeml4p6CIypWTHm/jwgv5YRzloCwtql/7UxWDnpE vYSsKAABxOd3jCmlIaIkBHo9srWJk6igIREd4ObPjYwVM05tCWbc2NzJMKLlhjkz9k6yEQ2Aez4Y VzLnlA1f2AnJncnJ6ykgSnJwD1f1TMAMzM/7aGmvL/MUeVjjM7xDBCCAidtDxtCSPKgMEcAO+tjD 4kafAgAy0aE0LCVxw4QPuHZ1vGJMTmLNiAX+8XKeDryTKJ3n5lcsQAQlOCDvc8FWRlQUTgQw9g5T 5t6YSXKNgQmFtNRWOsnm7IgoijjJGqL/nBk7AlBZ4VHkjKWf53S0HjFGToZLmzOn8muAhex5YUcD cCpCbRGkv2YAexDLitzZ5HH4HI2HDRPQh0YAFRk0wENHAoLYISkGxgbsIFUYAbDeWimIwF4CZ2z7 zaFTIoYJ5J4itrzgmGtmHLMFxPPuhrE/+AuOEMAQ1wq15B5yjcCekobMgSuldXK0RIJ5aUpt/pG1 DiTmtbp/XQkeIcDoiCyZMjJXFlzYEQvbevlakVNK54CfyI6XtvBO34SWpY0wATsAXc29HT1soNm9 +X1IFw8cA4YP1wBB3N55bRyQW7OpB//2H0U1CfgRGNGBCC8cTAMxkpNi5aA95xgRmNKwZcxLFijR w68SOGLninwtY48OCFSUDnxLTiMF0cwJYIhHkb2VdERPJSMaB6dx/w5+fsXcCZcIdBZ4yQlnrJ2M I1pUvIxjao2T5IopI2l5Zsc8kg3rPrphDKAP3n/n6OOO6HvnLncQVALlQ1MAjtS7EmDoot0pFA0O ZSH0FQD9lRJ8Xdz63UQJo+jfo//cQ39k7L5pfMmJh+4IDo70XuLlFyUAHZk3lmryPr97CmBvY0yg strvSRb8+47YIkDTzxn4fG7a1/A5KzLX+SUtl8yYU/k9K8bDy7CGEMWcyCfs+dJmDgS3wB6UPq9P uQZfrZspAjw8BdyJAO8eCe7O6rClXBD6a4wA7EQQv2bYYHLMnucsvE4WwVunFzJzr4soKoYAUdRz 8o7oRzBfaJnhHu0AVBQU1rrmiKY+72qdgJF7ZTFlj5j5PICauEAd0ToxDHjJkQvTS5l51Iqm7CXH ekW/YuTzO8tBjLk0TmxsEH5Af273e77bV4EhvMOrYeAp4Cu/nJleqz8ddBIgBzuJEoL2lHHPP1hN 3FKy69vJQQwMLpj3D9JJ5GYGeynYkyMGiNERGFNT03slnttpiAQCNbmfKwFFPMdPrCaQHGwwQPye jIQCieD+n+PwuVaZSsPSStRAAZHAGi/3WDJihi9uOUkGcId+/+sVv7l9tWHyzp3A4PZVhwJyT3lo h3wfIsJwB4qhwEpCfw05iWWYOKABww7+ZE1rQk0EIPRzmeCE2BMRg0TOmEjjKUaoxFODh3vFczkL XSHasDEDBAnigEYZ4d/jZMI9OkdZUWBdYlYIo/EINXi1aagVsiCAeEQIYigCB2LPBHgt8PJz2fPU 4/jwTqCKH39OYwjrdzUBhvVRYPjZ/bX0x+FeMffKlh58IGF+fjrOKLNefIoNQjOizCSCjf06Q5kR OGXK5b5lpyUtkY5ApxAkcPr4Q377g2OYnmMIf/JizT95seaLVU0eIBF8vpPI3gwj8Lf+//bONTau 47rj/zMz9959cUnxKdMkrberWLIV21LcxkEcxIHTpC87ReO4rVO4AeK2H4qiTeM6CZqgbb4ESZzA SfohseNXHSeAn/GjdZxa9SvyS7Isy5YsSqRJkaL4Xu7u3XvvzJzuJXhhUruyTMGSKYQ/YHAJ7BIE 7vmfM2cO58xs7Manz21BT2sO2gK7Dxdw+64RvHS0DCkIDIJZsCSu7etLsLXXVJw8hJO4MYQkrJDg 6ngvMYln1pGBPabxxM5bKooFUYSTghKQrCh0hC9e1Ilta1vrvzVCDZXQ4O/vfwXl0EFICoElnJV1 8PkLu/Ch1a0QhAR8fH0bpssRHtg7gp+9NgomSsq2iCzj2k1t+KutZyPm8Ngk0q6DC7vzWNuawb/8 qh87x8pQJOayeap76T4l2T4I7yUs5OIrgbamEPTeYRLvXjBFLDyIPjE2JUumt6PBvO8mXg6YMEAU ViCJEoOfEElAGAQokwfNAmlF+IdL1+DclXnUozHj4NqLu6CExC17jgIgGAZW5x189oKVYGZ8886H 8Z8Pb0djNoPvfvGz+MS2D+D6izrwd4/3Q4PqzvE0770wTgEnUwhCbSHolEQConoOy/PqCImRk3Lp nHAICz7XbBd9i6ixFoGxKDkutDH4s41tC4wfhiGOjE8h5Xlob25Ewp9ubsczQzN4dSKEZot1jQ7S rsS+t0Zw27N7kenegIJfxvcefhqXb92INc0pdHgC/QFBivqJXtLwcUqgkykFU5I8EE4Vdr6n1yaI NQUlIgZofi0h+RSwQmGkUEb/0QnUw1pGxnPRsaIBszDjll/vxLBv4HkSrtW4dFUTEg6PTuEbdz+G Q30HUaAsvnLVR/FHH96CGNeR+L2zG7BzYgKaGdABYiqGkV+/BW7zSgRBABGOvZ3KmRCWPAgStcZP 1HyqELR4AUhJUOJ0dGUTYo6XIAJc05Mo6NhyEkDpasjd0Y/o169i/vtMloaIQnz9UxfiU9WQHPPf L+/HXbsPI3v2GlgQmpWFjgJMTBOachnc+8I+7Ajy2LT5EpQmfdyy/RX8/rZNcByFmBZPQAoATNg/ NAprLT7Q047LN63F40cieGkH12ztBJHAyFQBRwpFuI0ZiDqJnsCpRQhAKSxSAAJwkkLQaYTo2H4D qkmVqGZDOkN4KciOHqTY1hxbWAlCfG5tQ9X46xBzaHgcNz21D+mzzoH0Uog5PFXB1Tffjzwi9LQ3 YdxpRnNnD0ouIU9FZI+5t2LSD2CZ4bgO9vRP4f5nX8VVl16Af/3YGlwxVETeFbjorCyssfjRr16C zylk5byNMQxInB6EPKkTQgSsJJAlnG4ST6cTpPF0TB5NUtRU0rWxWJ8T+MuLehBjjMEPn9iFYrYN 2WxD8n24jc1o3LAFoV/G62GAVGYFlOtgwjBaXBefv/h8qDk3iiKNp/rHIVUaSkm4TW345oPPwPcr uPLSLfjYOQ2IGR6fxvcfeBKP9RfRvGELhEjKVQmnUQBiEZ1BMSQBddojQP2p4fivjGsaVIhowZJK BGX8xfkdyGdcxDz3xgCeGwuR6+oCzet8IeFCOB6chkZkGdDMVeEofGZjCzbkXXSvSM8JyOLWp17D nqkQXmMDAEK2uRW61IOv/eJx3PbEc/id7nZExuKlA4OYklms3LwNyku9T1ffJJ1Bi8gBwhCQc61B JAhLAUK990fv2KqmtcF5DQKXbWifW/dHuO2FA/BaV0IqBYCP95dggwDdUuPj5zQiQRuD7z+yAz/v 85Hv7IaUcxUN6WJF91p4qRSODL+F3n0jEEoh37EGnZ2r4Da2JKd7v28CIGDxSSAJwAosAajGRgQG neB7rAN85vw2SCkR80LvMHpDheyK/JyYqH6LNxGsjnBW1sN8lJS46pJNaOr2cV9/CXa+KFMp5M9e jdzKbtgoAhGBHBckFd5XkiRQgBbZGyhIHHdX8NIRxfHqPpExWJcl/O7qdsQwMx554zBkYzNIihOd fQlPEfYdPoqv3nUQYRDij7dtwoc3rcOqtjyuq460M4Y7DhSS0ApmgJSEVCpJLAFw8nhfEVIgjPzS 24IQ/C6SQBuwJFhLONMQAHQQ4rK1eTiORMzA2DRen9bItGYhBQHgdxSWSKXw0rhApeIi9EP87+2P 4FvXXIHLtpyLmCs3rMBzI2Uc9C0UEepDWApIAsYnRqcJ4ONGgD708arCKkYGIIDdqDgSSQIMzjiY gQZE2NbdhITdg2MIvCyyyql74pidS/yS31euNzvP5wHAWoy4Ln65cx8+esEGEBFSjsTmFg+9A2UI SViykABpXzul6SIDRGVizENxFSKar1mOx/TQQG/Dqk2AOPOO7I60QU+G0NmURQxbxouHJ+FkGiBE nVyBGa0phfNXuEhLQk/ew6P9BfSVNSQRIBWyre2o+CNgZiTvq8EBpACEICxVSEqoMJywQ2+Oct4j ojKDayMAA4Cgaa5Qhtl1SR/aM+BsvaxEysnCWpxJRFGALV1ZKCkRUw4j9JcieE0pyDrGqkQGFzYA 11/QhoTDhQp6SxFcKZLWbGzsXglBhIRyqCEIUEtYAEJJ2EJx+K3tj456+TyJiJiIEgmwwtvwFBFn iNhtacHR3zw22PYnf31YpdIbOIpw5kBQJkRXNouEgYkCiuTAUaruVUcKBjvfPAh/UxvSnouYT69u xMGSxusFDTYGF7dncfW2HoAoqQfgwHgRrpOGJMJSRUoJPXn05emRkcDr6uISaZ5LAvnYJHD2AxUo Q461I/tfK543fGiHam7bYMyZIwAGw+UIq1rzSBgtBmDHO27y57kO+qeL2L6nF5+8aCNi2rIuvnxh O/ZPh2BrsXFFCmlHImHXwCgOxRGiIQcCL9n5X0SVysTO7c+7WYellIaZLVepOwVIKa2EbwPhGMpk eHj7Q0/2rNt8pZAqx9bgTIAtI0MGLdkUEmaMBSsFouPPk9m2lbj12d04r7sD3e3NiMk6Eh9sTeNY RqeLuOXlPnCuDYKwZBGuC3t0YG/ffT/e7zS1Q0SRYaVslfoRQErJFSLjaKVlU5s9+MCdh7r+8M9/ 46zaeLkJKjgTsGyRk0DWc5DgG4ZQzjsma7nmVozPTOHGux/FP/7BR7BlbQ/qsfPgIH7yYi9Gs23I pLxEQlhyEEHYiCd3bn9wamKinGtdqUNAOzMz9uDkpAXAMQsE4A65Fk0wUTbSKStCnyga/uVd957z hRsvEY6bY2Ow1FGCcLQwg3/66b2AtZDKQaGhHenmrqT6d9wo0NK9GmNG48v3PI4P9bRj67oerOts AxHwxuBR7IrHRACvcw2y+SYsZaSXgjnSt/PN2256IZ1vhjUmUlqbGaUMgIVTwNxSkPvQZ1tVq2mI RGSVipx8s9l33x29HZde8VDqgx/5nLF2yS8JSQjYfCteG9WwxkCwRF7mkFUKoBOHzNa156LS0o7n R4bw1DN7wToCCQEn24BUUyvya9bASWewlCEpgcAvHX3snp/NjI+XZL5lts1RE2mH2c7fc0pJPkBV AMjOzk6XiNKOcRpY8AqEQVNzZ3vHlv/46Y3Ucc5mG1TOvKrQonfcEMAWVmswWwAEoSRISCQnNy5Z iGajXun5J+54+obr7hatrTMAJq21U26pVKyG/woADcBylWMFIACo5uZmL5vN5oQWjRBoMv5M4/qP fXLDmuu/fgPnm8+yYYDfCogWCGnJQwTpuAh7X9v+/JeuudlnnoJSk1x9hmE4A6A0MjISAjDMbBec 9spVkh7EVCqljTEhLCoE7ct0Q7jvfx46NHTnTT9AcfqocFP4rYA5HmeO8V0P0UDvzhf/7fqfVMKw DKV8hPCttYFX8aL0SNoc03IAUacP0Q4NDZlKpRIihYoAykSm5DY1hbvuvXXvwB3fvhmF8aE4yVhm 6eQ9s55/4NVnd/373/6wNDo6BTfjCyNKxOQbYwLf9aM+9Jkk+18ogNooYOaiQBAAZStEkY2YcRvb K3vvu/31/d/55+/owYO71fv+/+5lhONCMEeVl7c/+PxXr/vxxNDAuMpkfCnsjCBdIlv2wzAMsqNZ Pd/7EwRq4XhUo4AOgiCMRSBCURKkq8MWvVxz5dCO/xvY8aWrb5555tFfkF8qyFQaJCVOF8sQSDmQ rguMDx8auudHP3j6a1/4ecUPC47nlay1M0aLUsDs23Q6iJ251vvrCyCJAjYesWqqVGIVGSlnYG2B BRe8dEOpXKlMP/ONv3nwwHdv+FZlz44nqVKelq43q0iS8r3e/7YMEUgqxPmXkAKYGjtceOL+/3r5 hmu//cqd33tBpvK+cESBrSxYLWYiikoA/NiJY2eu5/3zloG1EJEAIFZhlZpeMe01KpWuqikjrc0Z IRoEc06wyIVRyaMgcM/eellnzyeu3OKt33y+29iyEl66EY4LZsbJswwlq5GgbG25PK5HBw+N73p2 5/AT9+892vvmpJPLRZDSt5aKkmY9v6iFLgIoR1FUGR0dDQGYZNm3GAFQ0q/R1dXluKWSy46TmhWB MTnLnBVS5pg5w0A6CgKXQ1+l03m3c8vWdtm9rr111frWdHNbCwkpAYvFsowAR0FlanhwtPhW73ip d/eRkdd3T7KliNJpLaVbAeBbmLIhKkpjiiFQRnXE8/7Y2FgIQNcav1YAJxKBrIpAlctlZ0UsAiHS TJS2SmUlcwZAGkAKRCmy5OjQlyYMhYARQjiCk6lGMOHdsYwlBsAEw9ZaYyGtTMev3NNgDiFRIcDX Gr6ALkdEsyGfmSux8aueH815vkmMvwgB1IogmQ6KrUXH8zxXCOERUYqZM86c8QF4xpJLZF3BQrFg SSwkmAkSxMwnPn14GZ5zPoYBW7KWiIywpK1gzcwhWAbMHBDIJw59MFdgTIXDTOB7flQt9iTG5yoW 74DCCZi3Zcz2oU9jDNzR0WHTQWCk52lfytk5iIAUafJIGEeQcCyTEmBlYSQgSRomMAmo4554tEyy U0cDILAFJYe1GgOjLYRWQMgchWAnYMOBcWVgjAkrWoeZnI5GBkdMvTn/5CJA/WiQJIcyjgaZTEYF QeDEyEi60jFKC+FIa5W1UirFgnl2ECfez1zvKsNlSPOCvZlE1ojY97WVQmhjpNZCa8eYyLpuGFVJ +X5Ucl1d9XqdGL52uXdiASxWBMmQVSEIv8OX2TBUQVUMKa2lTqWkrj49ZmEcRzIzJQMnZJlkz56I jR8QCxHaUAijAmVCJ9RKKVMsFmeLdXHVFoCdN5AY/xQIoH5uMG+1IIIgkMYYkbd5YfOW4p+Zmey8 BoNsXSEsUyLiY5s3iIillFbNzNhC9Rn/7DiOHRwcnG90rvH6UyqAWiHUjHVYR5WuigCAxPjGGMK7 YhkpJSdCUIOK476NxNCJp9cz/OkVQK0QYuo9T55luN6T3yPD/T9shmzx9b63DAAAAABJRU5ErkJg           gg=="/>-->
</div>
<div class="list-group-item" style="background:#555555;color:#fff;box-shadow:0 0 2px #313131;">
	<h4 style="margin:0px;">Applications
	    <!--<span ng-show="gridview" class=" fa fa-list pull-right" ng-click="showlist()"></span>
		<span ng-show="listview" ng-click="showgrid()" class="fa fa-table pull-right"></span>-->
	</h4>
</div>


<div class="scrollable">
    <div class="scrollable-content">
		<div class="list-group-item" style="background:none;border:none;">
				<div class="row" style="margin:0px;">
					<div class="col-xs-4 col-md-4" ng-repeat="app in apps">
						<div style="background:none;border:none;" class="thumbnail"  ng-click="launchapp(app.name)">
						  <img src="{{app.logo}}" class="icon">
						  <div class="campuseai-Info text-center">{{app.displayname}}</div>
						</div>
					</div>
				</div>
		</div>
    	<!--<div class="animate-wrap">
		    <input type="radio" id="ani-1" name="animation" checked ng-model="flipmod" value="one">
		    <input type="radio" id="ani-2" name="animation" ng-model="flipmod" value="two">

		    <div class="animate">
		        <label for="ani-2" class="front">
		            <div ng-show="gridview">
						<div class="list-group-item" style="background:none;border:none;">
							<div class="row" style="margin:0px;">
								<div class="col-xs-4 col-md-4" ng-repeat="app in apps">
									<div style="background:none;border:none;" class="thumbnail"  ng-click="launchapp(app.name)">
									  <img src="{{app.logo}}" class="icon">
									  <div class="campuseai-Info text-center">{{app.displayname}}</div>
									</div>
								</div>
							</div>
						</div>
						<div class="list-group-item" style="background:none;border:none;height:100px;"></div>
		          	</div>
		        </label>

		        <label for="ani-1" class="back">
		            <div ng-show="listview">
		          		<div class="list-group-item" style="background:none;color:#000;border:none;" ng-repeat="app in apps" ng-click="launchapp(app.name)">
		                        <div class="row" style="margin:0px;">
		                            <div class="col-xs-2">
		                              <img src="{{app.logo}}"  class="icon"/>
		                            </div>
		                            <div class="col-xs-8">
		                                <h4>{{app.displayname}}</h4>
		                            </div>
		                            <div class="col-xs-2">
		                                <span class="fa fa-chevron-right pull-right"></span>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		          		<div class="list-group-item" style="background:none;border:none;height:100px;"></div>
		        </label>
		    </div>
		</div>-->
        <div id="homecontent"></div>
    </div>
</div>


